<template>

    <div class="logIn_user">
        <section class="registro">
        <div class="container_logIn_user">
          
            <h2>Iniciar sesión</h2>

            <form v-on:submit.prevent="processLogInUser" >
              <h5>Seleccione tipo de documento</h5>
              <select name="select">
                <option value="CC" selected>Cedula de ciudadania</option>
                <option value="TI">Tarjeta de identidad</option>
                <option value="CE">Cedula de estranjeria</option>
              </select>
              <input type="text" v-model="user.username" placeholder="Documento de identidad">
                <br>
                <input type="text" v-model="user.username" placeholder="Usuario">
                <br>
                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>
                <button v-if="is_auth" v-on:click="loadHome">Iniciar Sesión</button>
            </form>
          </div>
      </section>
        
      <section class="otrfunc">
              <form>
                  <button v-if="is_auth" v-on:click="loadSignUp">REGISTRARSE</button>
                  <h4>CUIDAPP La aplicación que cuida de los tuyos para el vienestar de usted y su familia.</h4>
                  <button v-if="is_auth" v-on:click="logIn">RECUPERAR CONTRASEÑA</button>
              </form>
      </section>

    </div>

</template>




<script>
import axios from 'axios';

export default {
    name: "LogIn",

    data: function(){
        return {
            user: {
                username:"",
                password:""
            }
        }
    },

    methods: {
        processLogInUser: function(){
            axios.post(
                "https://mision-tic-bank-be.herokuapp.com/login/", 
                this.user,  
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                    
                });
        }
    }
}
</script>






<style>

    .logIn_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url './img/fondo_cuidapp.jpeg';
        background-size: cover;
    }

    .container_logIn_user {
        border: 3px solid  chocolate;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: box-shadow 0.3s ease;
    }

    .logIn_user h2{
        color: #283747;

    }

    .logIn_user form{
        width: 70%;
        
    }

    .logIn_user input{
        height: 40px;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid #283747;
    }

    .logIn_user button{
        width: 100%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
    }

    .logIn_user button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }

</style>