<template>
    <div id="Asistencia" class="asistencia">
        <div class="contenedor_asistencia">
            <h3>ASISTENCIA PERSONALIZADA</h3>
            <form>
                <input type="number" placeholder="Ingrese el codigo del servicio">
                <br>
                <input type="text" placeholder="Nombre solicitante">
                <br>
                <input type="text" placeholder="Nombre referente">
                <br>
                <input type="text" placeholder="Detalle del servicio">
                <br>
                <h4>Tipo de asistencia</h4>
                <select name="modo">
                    <option value="vid">Video asistido</option>
                    <option value="pre">Presencial</option>
                    <option value="tel">Telefonicamente</option>
                </select>
                <h4>Fecha del servicio</h4>
                <input type="datetime-local">
                <br>
                <h4>Duracíon del servicio</h4>
                <select name="tiempo">
                    <option value="cuarto" selected>15m</option>
                    <option value="media">30m</option>
                    <option value="3cuartos">45m</option>
                    <option value="hora">60m</option>
                    <option value="hora y media">90m</option>
                    <option value="dos horas">120m</option>
                </select>
                <br>
                <input type="number" placeholder="Tarifa servicio">
                <br>
                <h4>Modo de pago</h4>
                <select name="pago">
                    <option value="ef" selected>Efectivo</option>
                    <option value="che">Cheque</option>
                    <option value="tar">Tarjeta debito</option>
                    <option value="tarc">Tarjeta credito</option>
                </select>                    
                <br>
                <br>
                <button type="submit">Agendar cita</button>
            </form>

        </div>

    </div>
</template>
<script>

export default {
  name: "Asistencia",
  computed: {

  }
}
</script>
<style>
.asistencia {
    margin: 15hv;
    padding: 0%;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/home.jpg");
    background-size: cover;
}
.contenedor_asistencia {
    /* border: 3px solid chocolate; */
    border-radius: 8px;
    width: 30%;
    height: 70%;
    padding: 30px 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}
/* .contenedor_asistencia:hover{
    box-shadow: 0 0.2rem 0.4rem rgb(73, 35, 8);
} */
.asistencia h3{
    margin:0 ;
    text-align: center;
    width: 80%;
    height: 80%;
    padding: 30% 0 20px 0;
    color: chocolate;
}
.asistencia h4{
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(63, 29, 5);;
}
.asistencia form{
    width: 70%;
    margin: 5px 0;
}
.asistencia input{
    height: 25px;
    width: 100%;

    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;

    border: 1px solid rgb(73, 35, 8);
    opacity: 0.8;
    background-color: rgb(219, 212, 198);
}
.asistencia form select{
    color: rgb(63, 29, 5);
    margin:  5px 0;
    width: 100%;
    height: 25px;
    background: rgb(243, 174, 125);
}
.asistencia form button{
    width: 100%;
    height: 30px;
    margin: 0 center;

    color: rgb(63, 29, 5);
    background: #be8956;
    border: 1px solid #E5E7E9;

    border-radius: 5px;
    margin: 5px 0;
}
.contenedor_asistencia form button:hover{
    color: #E5E7E9;
    background: rgb(189, 112, 61);
    border: 1px solid #5f3703;
    box-shadow: 0 0.1rem 0.4rem sienna;
}
</style>