<template>
    <div class="construccion">
        <h2>PÁGINA EN CONSTRUCCIÓN</h2>        
    </div>
</template>
<script>
export default {
    name: "EnConstruccion"
}
</script>
<style>
.construccion{
    margin: 0 center;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/construccion.jpg");

}
.construccion h2{
    margin: 10%;
    color: tomato;
    text-align: center;
}
</style>