<template>

    <div class="logIn_user">
      <section class="registro">
        <div class="container_logIn_user">
          
            <h2>Iniciar sesión</h2>

            <form v-on:submit.prevent="processLogInUser" >
              <h5>Seleccione tipo de documento</h5>
              <select name="select">
                <option value="CC" selected>Cedula de ciudadania</option>
                <option value="TI">Tarjeta de identidad</option>
                <option value="CE">Cedula de estranjeria</option>
              </select>
              <input type="number" v-model="user.idUser" placeholder="Documento de identidad">
              <br>
              <input type="text" v-model="user.username" placeholder="Usuario">
              <br>
              <input type="password" v-model="user.password" placeholder="Contraseña">
              <br>
              <button type="submit">Iniciar Sesión</button>
            </form>
          </div>
      </section>
        
      <section class="otrfunc">
              <form v-on:submit.prevent="processLogInUser">
                  <button  v-if="!is_auth" v-on:click="loadSignUp">REGISTRARSE</button>
                  <br>
                  <br>
                  <h4>CUIDAPP La aplicación que cuida de los tuyos para el vienestar de usted y su familia.</h4>
                  <br>
                  <br>
                  <button v-if="!is_auth" v-on:click="loadRecuperar">RECUPERAR CONTRASEÑA</button>
              </form>
      </section>
    </div>

</template>


<script>
import gql from "graphql-tag";

export default {
  name: "LogIn",

  data: function() {
    return {
      user: {
        
        username: "",
        password: "",
      },
    };
  },

  methods: {
    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },
    loadRecuperar: function(){
      this.$router.push({name: "recuperar"})
    },
    processLogInUser: async function() {
      await this.$apollo
        .mutate({
          mutation: gql`
            mutation($credentials: CredentialsInput!) {
              logIn(credentials: $credentials) {
                refresh
                access
              }
            }
          `,
          variables: {
            credentials: this.user,
          },
        })
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.logIn.access,
            token_refresh: result.data.logIn.refresh,
          };
          /* console.log(dataLogIn); */
          this.$emit("completedLogIn", dataLogIn);
        })
        .catch((error) => {
          alert("ERROR 401: Credenciales Incorrectas.");
        });
    },
  },
}
</script>


<style>

    .logIn_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        background: url("../assets/fondo.jpeg");
        background-size: cover;    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .registro{ 
        margin: 0 auto;/*permite centrar la imagen */
        padding: 15% 5% 13% 12%;/*ancho para todos los lados*/
        width: 30%;
        display: inline-block;
    }

    .container_logIn_user {
       
        border: 3px solid  chocolate;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;

        margin: 0 auto;
        padding: 4%;
        cursor: pointer;
        transition: box-shadow 0.3s ease; /* propiedades de css sean animadas */
    }
    .container_logIn_user:hover{
      box-shadow: 0 0.2rem 0.4rem rgb(73, 35, 8);

    }
    
    .logIn_user h2{
        color: chocolate;
        
    }
    .logIn_user form, .otrafunc form{
        width: 70%;
        margin: 5px 0;
        
    }
    .logIn_user h5,  .logIn_user h4{
      margin: 0;
      padding: 0;
      color: rgb(73, 35, 8);
    }

    
    /* #logIn_user{
      background-image: url(./img/fondo_cuidapp.jpg);
    }
 */
    .logIn_user input{
        height: 25px;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid rgb(73, 35, 8);
        opacity: 0.8;
        background-color: rgb(219, 212, 198);

    }

    .logIn_user button, .otrafunc button{
        width: 100%;
        height: 30px;
        margin: 0 center;

        color: rgb(63, 29, 5);
        background: #be8956;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        margin: 5px 0;
    }

    .logIn_user button:hover, .otrafunc button:hover {
        color: #E5E7E9;
        background: rgb(189, 112, 61);
        border: 1px solid #5f3703;
        box-shadow: 0 0.1rem 0.4rem sienna;
    }
    .logIn_user form select{
      color: rgb(63, 29, 5);
      margin:  5px 0;
      width: 100%;
      height: 25px;
      background: rgb(243, 174, 125);
    }
    .otrafunc {
      padding: 17% 10% 15% 0%;/*arriba derecha abajo izquierda*/
      width: 30%;
      height: 60%;
      display: block flex;     
      float: right;
    }

</style>