<template>

    <div id="Recuperar" class="recuperar">
        <div class="contenedor_recuperar">
            <h3>Escriba los datos solicitados para recuperar su contraseña</h3>
            <form >
                <input type="text" placeholder="Escriba su usuario"/>
                <br />
                <input type="number" placeholder="ingrese número de telefono"/>
                <br />
                <button type="submit">RECUPERAR CLAVE</button>
            </form>
        </div>
    </div>
</template>
<script>
export default {
  name: "Recuperar",
  computed: {

  }
}
</script>
<style>
.recuperar {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/fondo_cuidapp.jpg");
  background-size: cover;

}
.contenedor_recuperar {
  border: 3px solid chocolate;
  border-radius: 8px;
  width: 25%;
  height: 35%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.contenedor_recuperar:hover{
  box-shadow: 0 0.2rem 0.4rem rgb(73, 35, 8);
}
.contenedor_recuperar h3{
  text-align: center;
  /* padding: 0; */
  color: chocolate;
  height: 25px;
  width: 75%;
  padding: 10px 20px;
  
}
.contenedor_recuperar form {
  width: 70%;
  margin: 5px 0;
}
.contenedor_recuperar input{
  height: 25px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;

  border: 1px solid rgb(73, 35, 8);
  opacity: 0.8;
  background-color: rgb(219, 212, 198);
}
.contenedor_recuperar button{
  width: 100%;
  height: 30px;
  margin: 0 center;

  color: rgb(63, 29, 5);
  background: #be8956;
  border: 1px solid #E5E7E9;

  border-radius: 5px;
  margin: 5px 0;
}
.contenedor_recuperar button:hover{
  color: #E5E7E9;
  background: rgb(189, 112, 61);
  border: 1px solid #5f3703;
  box-shadow: 0 0.1rem 0.4rem sienna;
}
</style>