<template>

    <div class="signUp_user">
      <section class="personales">
        <div class="container_signUp_user">          
              <h3>INGRESE SUS DATOS PERSONALES</h3>

              <form v-on:submit.prevent="processSignUp" >
                <br>
                <h5>SELECCIONE TIPO DE DOCUMENTO</h5>
                <select name="select">
                  <option value="CC" selected>Cedula de ciudadania</option>
                  <option value="TI">Tarjeta de identidad</option>
                  <option value="CE">Cedula de estranjeria</option>
                </select>
                <input type="text" v-model="user.username" placeholder="Usuario">
                <br>                
                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>                
                <input type="text" v-model="user.name" placeholder="Nombre">
                <br>
                <input type="text" v-model="user.lastname" placeholder="Apellido">
                <br>
                <h5>SELECCIONE SU GENERO</h5>
                <br>
                <div>                    
                  <input type="radio" name="genero" value="Hombre" v-model="user.gender">
                  <label for="Hombre" >Hombre  </label>
                  <input type="radio" name="genero" value="Mujer" v-model="user.gender">
                  <label for="Mujer">Mujer  </label>
                  <input type="radio" name="genero" value="Otro" v-model="user.gender">
                  <label for="otro">Otro </label>
                </div>
                <br>
                <h5>FECHA DE NACIMIENTO</h5>
                <input type="date" v-model="user.dateOfBirth">
                <br>
              </form>            
          </div>
        </section>        
        <section class="contacto">
            <div class="formucont">
                <h3>DATOS PARA CONTACTO</h3>
                
                <form>
                    <input type="number" v-model="user.movil" placeholder="Número movil">
                    <br>
                    <input type="number" v-model="user.telephone" placeholder="Número fijo">
                    <br>
                    <input type="email" v-model="user.email" placeholder="Correo">
                    <br>
                    <input type="text" v-model="user.departament" placeholder="Departamento">
                    <br>
                    <input type="text" v-model="user.municipality" placeholder="Municipio">
                    <br>
                    <input type="text" v-model="user.adresshome" placeholder="Dirección">
                    <br>
                    <br>
                    <button type="submit">REGISTRARSE</button>
                </form>
            </div>
        </section>
        
    </div>
</template>


<script>
import gql from "graphql-tag";

export default {
    name: "SignUp",

    data: function() {
        return {
          user: {
              username: "",
              password: "",
              name: "",
              email: "",
              lastname: "",
              gender: "",
              dateOfBirth: "",
              movil:"",
              telephone: "",
              email: "",
              departament: "",
              municipality: "",
              addresshome: "",
              applicant: "",
              offeror: "",
          },
        };
    },

  methods: {
    processSignUp: async function() {
      await this.$apollo
        .mutate({
          mutation: gql`
            mutation($userInput: SignUpInput!) {
              signUpUser(userInput: $userInput) {
                refresh
                access
              }
            }
          `,
          variables: {
            userInput: this.user,
          },
        })
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.signUpUser.access,
            token_refresh: result.data.signUpUser.refresh,            
          };
          this.$emit("completedSignUp", dataLogIn);
        })
        .catch(() => {
          alert("ERROR: Fallo en el registro.");
        });
    },

  },
}
</script>


<style>

    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../assets/fondo.jpeg");
        background-size: cover;
    }
    .personales, .contacto{ 
      margin: 0 auto;/*permite centrar la imagen */
      padding: center;/*ancho para todos los lados*/
      width: 30%;
      display: flex block;
    }
    /* .contacto{ 
      padding: center;/*arriba derecha abajo izquierda
      width: 25%;
      margin: auto;
      display: block flex;     
      float: right;
    } */
    .container_signUp_user, .formucont {
        border: 3px solid  chocolate;
        border-radius: 10px;
        width: 80%;
        height: 75%;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 auto;
        padding: 5%;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
    }
    .container_signUp_user:hover, .formucont:hover{
      box-shadow: 0 0.2rem 0.4rem rgb(73, 35, 8);
    }

    .signUp_user h5{
      margin: 0;
      padding: 0;
      text-align: center;
      color: rgb(73, 35, 8);

    }
    .signUp_user h3{
      margin:0;
      text-align: center;
      width: 90%;
      padding: 0;
      color: chocolate;

    }

    .signUp_user form{
        width: 70%;
        margin: 5px 0;
        
    }

    .signUp_user input{
        height: 25px;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid rgb(73, 35, 8);
        opacity: 0.8;
        background-color: rgb(219, 212, 198);

    }
    .container_signUp_user form div input{
      margin:  0;
      height: 12px;
      width: 7%;
      opacity: 0.8;
    }

    .signUp_user button{
        width: 100%;
        height: 30px;

        color: rgb(63, 29, 5);
        background: #be8956;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        padding: 0 center;
        margin: 5px 0 25px 0;
    }

    .signUp_user button:hover{
        color: #E5E7E9;
        background: rgb(189, 112, 61);
        border: 1px solid #5f3703;
        box-shadow: 0 0.1rem 0.4rem sienna;
    }
    .signUp_user form select{
      color: rgb(63, 29, 5);
      margin:  5px 0;
      width: 100%;
      height: 25px;
      background: rgb(243, 174, 125);
    }

</style>