<template>

  <div id="app" class="app">
    <div class="header">
      <h1>CuidApp</h1>
      <nav>
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <button v-if="is_auth" v-on:click="loadEnConstruccion"> Psicologicos</button>
        <button v-if="is_auth" v-on:click="loadEnConstruccion"> MedicamentosS</button>
        <button v-if="is_auth" v-on:click="loadEnConstruccion"> Espiritual </button>
        <button v-if="is_auth" v-on:click="loadEnConstruccion">Fisico</button>
        <button v-if="is_auth" v-on:click="loadAsistencia">Asistencia personalizada</button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar sesión </button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>
        <button v-if="!is_auth" v-on:click="loadRecuperar" >Recuperar contraseña </button>
      </nav>
    </div>
    

    <div class="main-component">
      <router-view  
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"     
      >
      </router-view>
    </div>    

    <footer>
      <section>
        <a href="#super">Ir al comienzo </a>
        <a href="https://www.clinica-galatea.com/es/bloc/oms-salud-consejos/"> 12 consejos de la OMS para cuidarse</a>
      </section>            
      <p>Copyrinht &copy; 2021 Todos los derechos reservados, GRUPO_6_P59.</p>
            
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App',

  computed: {
    is_auth: {
      get: function() {
        return this.$route.meta.requiresAuth;
      },
      set: function() { }
    }
  },

  methods:{

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },
    loadRecuperar: function(){
      this.$router.push({name: "recuperar"})
    },

    completedLogIn: function(data) {
			localStorage.setItem("username", data.username);
			localStorage.setItem("token_access", data.token_access);
			localStorage.setItem("token_refresh", data.token_refresh);
			alert("Autenticación Exitosa");
			this.loadHome();
    },

    completedSignUp: function(data) {
			alert("Registro Exitoso");
			this.completedLogIn(data);
    },

    loadHome: function() {
      this.$router.push({ name: "home" });
    },
    loadAsistencia: function() {
      this.$router.push({ name: "asistencia" });
    },
    loadEnConstruccion: function() {
      this.$router.push({ name: "enconstruccion" });
    },

    /* loadAccount: function () {
			this.$router.push({ name: "account" });
		},
 */
    /* loadTransaction: function(){
      this.$router.push({ name: "transaction" });
    }, */
    

    logOut: function () {
			localStorage.clear();
			alert("Sesión Cerrada");
      this.loadLogIn();
		},
  }
}
</script>


<style>

  body{
    margin: 0 0 0 0;
  }

  .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 9vh; 
    min-height: 100px;

    background-color: rgb(102, 102, 238) ;
    color:aqua  ;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;/*Dejar la posición fijadel encabezado*/
  }

  .header h1{
    width: 20%;
    text-align: center;
  }

  .header nav {
    height: 100%;
    width: 30%;

    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    font-size: 20px;
  }

  .header nav button{
    color: #E5E7E9;
    background: rgb(35, 35, 173);
    border: 1px solid #E5E7E9;

    border-radius: 5px;
    padding: 10px 20px;
  }

  .header nav button:hover{
    color: #283747;
    background: #aebbf5d8;
    border: 1px solid #E5E7E9;
    box-shadow: 0 0.1rem 0.4rem rgb(60, 80, 88);
  }

  
  .main-component{
    height: 90vh;
    margin: 0%;
    padding: 0%;

    background: #FDFEFE ;
  }

 
  footer{
    margin: 0;
    background-color: royalblue;
    padding: 2rem;
    color: seashell;
  }
  footer section{
      float: right;
  }

  footer p{
    margin: 0;
  }
  footer a{
    transition: color 0.5s ease;
    color: seashell;
    text-decoration: none;    
  }
  footer a:hover{
      color: rgb(23, 9, 114);
  }

</style>
