<template>
  <div id="app" class="app">

    <div class="header">

      <h1> CuidApp </h1>
      <nav>
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <button v-if="is_auth" v-on:click="loadHome"> PSICOLOGICO</button>
        <button v-if="is_auth" v-on:click="loadHome"> MEDICAMENTOS</button>
        <button v-if="is_auth" v-on:click="loadAccount"> ESPIRITUAL </button>
        <button v-if="is_auth" v-on:click="loadHome">FISICO</button>
        <button v-if="is_auth" v-on:click="loadTransaction">ASISTENCIA PERONALIZADA</button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>
        <button v-if="!is_auth" v-on:click="logIn">RECUPERAR CONTRASEÑA</button>
      </nav>
    </div>
    

    <div class="main-component">
      <router-view  
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
      >
      </router-view>
    </div>
    

    <footer>
      <section>
        <a href="#super">Ir al comienzo. </a>
        <a href="https://www.clinica-galatea.com/es/bloc/oms-salud-consejos/"> 12 consejos de la OMS para cuidarse</a>
      </section>            
      <p>Copyrinht &copy; 2021 Todos los derechos reservados, GRUPO_6_P59.</p>
            
    </footer>

  </div>
</template>




<script>
export default {
  name: 'App',

  data: function(){
      return{
        is_auth: false
      }
  },

  components: {
  },

  methods:{
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
		
			if (this.is_auth == false)
        this.$router.push({ name: "logIn" });
      else
        this.$router.push({ name: "home" });
    },

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },

    completedLogIn: function(data) {
			localStorage.setItem("isAuth", true);
			localStorage.setItem("username", data.username);
			localStorage.setItem("token_access", data.token_access);
			localStorage.setItem("token_refresh", data.token_refresh);
			alert("Autenticación Exitosa");
			this.verifyAuth();
    },

    completedSignUp: function(data) {
			alert("Registro Exitoso");
			this.completedLogIn(data);
    },

    loadHome: function() {
      this.$router.push({ name: "home" });
    },

    loadAccount: function () {
			this.$router.push({ name: "account" });
		},

    logOut: function () {
			localStorage.clear();
			alert("Sesión Cerrada");
			this.verifyAuth();
		},
  },

  created: function(){
    this.verifyAuth()
  }

}
</script>






<style>

  body{
    margin: 0 0 0 0;
  }

  .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh; 
    min-height: 100px;

    background-color: rgb(102, 102, 238) ;
    color:aqua  ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;/*Dejar la posición fijadel encabezado*/
  }

  .header h1{
    width: 20%;
    text-align: center;
  }

  .header nav {
    height: 100%;
    width: 20%;
    margin: 5vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;

    font-size: 20px;
  }

  .header nav button{
    color: #E5E7E9;
    background: #283747;
    border: 2px solid #E5E7E9;

    border-radius: 5px;
    padding: 10px 20px;
  }

  .header nav button:hover{
    color: #283747;
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
  }

  
  .main-component{
    height: 75vh;
    margin: 0%;
    padding: 0%;

    background: #FDFEFE ;
  }

 
  footer{
    margin: 0;
    background-color: royalblue;

    width: 100%;
    min-height: 30px; 

    /* background-color: #283747;
    color: #E5E7E9; */
    padding: 2rem;
    color: seashell;

  }

  /* .footer h2{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  footer section{
      float: right;
  }

  footer p{
    margin: 0;
  }
  footer a{
    transition: color 0.5s ease;
    color: seashell;
    text-decoration: none;    
  }
  footer a:hover{
      color: rgb(23, 9, 114);
  }

</style>
